page-payments {

    .container{
        display: flex;
        justify-items: center;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right, rgb(91, 182, 235) , rgb(113, 227, 235));
    }

    .one{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 50%;
        height: 80%;
        background-color: rgb(241, 239, 239);
    }

    .banks{
        display: flex;
        flex-direction: column; 
    }

    .fnb{
        height: 20%;
        margin-top: 7%;
    }

    .two{
        display: flex;
        flex-direction: column;
        justify-content:  space-between;
        padding: 2px;  
        margin: auto;
        width: 50%;
        height: 80%;
        background-color: rgb(240, 234, 234);
    }

   .Button{
        height: 40px;
        width: 60%;
        background-image: linear-gradient(to right, rgb(91, 182, 235) , rgb(113, 227, 235));
        color: white;
        border-radius: 60px;
        font-size: 20px;
    }

    .Buton{
        display: flex;
       width: 100%;
       justify-content: center;
    }

    .input{
       border-radius: 6px;
        height: 40px;
    }
}
