page-booking {
  .container{
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: rgb(250, 245, 245);
  }


  .contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    background-color: rgb(241, 235, 235);
    border-bottom-left-radius: 80px;
  }

  .dis{
    height: 10%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(91, 182, 235) , rgb(113, 227, 235));
  }

  .save{
    height: 40px;
    width: 60%;
    background-image: linear-gradient(to right, rgb(91, 182, 235) , rgb(113, 227, 235));
    color: white;
    border-radius: 60px;
    font-size: 20px;
  }


  .date{
    display: flex;
  }


  .guestroom{
    display: flex;
    justify-content: space-evenly;
  }

  .Amount{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

  }




}
