
  <ion-toolbar class="title">
    <h1 class="h1">Four Seasons Hotel</h1>
    <ion-buttons end  >
      <!-- <div class="profile2" *ngFor="let u of user;"> -->
        <img  (click)="profile()" class="profiless">
        <button (click)="profile()"></button>
        <!-- src="{{u.Image}}" alt="" -->
      <!-- </div> -->
      <!-- <button ion-button icon-only color="royal" (click)="profile()">
        <ion-icon ios="ios-contact" md="md-contact" class="person" ></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-toolbar>




<ion-content >
    <div class="container">
  
      <ion-card *ngFor = "let item of MyArray">
          <img src="{{item.image}}" alt="" class="card">
          <ion-card-content  class="CardContents">
            <div class="CardOne"> 
              <div class="C1"> 
                  <div class="RoomName">
                      {{item.RoomType}}
                    </div>                 
                               <div class="star">
                                   <ion-icon name="star"></ion-icon>
                                   <ion-icon name="star"></ion-icon>
                                   <ion-icon name="star"></ion-icon>
                                   <ion-icon name="star"></ion-icon>
                                   <ion-icon name="star"></ion-icon>
                               </div>
              </div> 
              <div class="C2">
                <div class="Prce">
                 R {{item.Price}}.00              
                </div>

                        <button class="fabButt" (click)="rooms({price:item.Price, roomType:item.RoomType, description:item.Description, image:item.image, HotelKey:item.key})">
                           >                          
                        </button>                                      
              </div> 
            </div>
          </ion-card-content>    
        </ion-card> 
    </div>
  </ion-content>
  

